* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 20px;
}
.card {
  border: none;
  width: 450px;
  max-height: 120vh;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1),
    hsla(260, 25%, 30%, 1) 100%
  );
  box-shadow: 6px 7px 17px -3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 6px 7px 17px -3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 6px 7px 17px -3px rgba(0, 0, 0, 0.8);
}
.card h1 {
  letter-spacing: 2px;
  margin-top: 10px;
}
.card h1 span {
  color: red;
}
h5 {
  margin-top: 20px;
  color: #fff;
  letter-spacing: 1px;
}
label {
  color: #fff;
}
button {
  margin-left: 65%;
  width: 130px;
}
.error {
  color: red;
}
